---
import BaseLayout from '../layouts/BaseLayout.astro';
import { Globe, Linkedin, Github, Mail } from 'lucide-astro';

const title = 'About me';
const description = 'Some info about myself';

const contactOptions = [
  {
    link: 'https://korotkaya.com/',
    icon: Globe,
    alt: 'Website'
  },
  {
    link: 'https://www.linkedin.com/in/irinakorotkaya/',
    icon: Linkedin,
    alt: 'LinkedIn'
  },
  {
    link: 'https://github.com/ikorotkaya',
    icon: Github,
    alt: 'GitHub'
  },
  {
    link: 'mailto:irina@korotkaya.com',
    icon: Mail,
    alt: 'Gmail'
  }
];
---

<BaseLayout title={title} description={description}>
  <div class="mb-12 flex-grow">
    <h2>{title}</h2>
    <div class="flex items-center justify-center gap-12">
      <p class="mt-0">
        I'm Irina. I'm a Full Stack Engineer with a background in
        Design and Architecture, based in Berlin. Currently the
        Software Engineer at <a
          href="https://www.buena.com"
          class="no-underline text-smalt hover:text-neutral">Buena</a
        >.
      </p>
    </div>
    <div class="not-prose flex gap-4 items-center mt-3">
      {
        contactOptions.map((option) => (
          <a href={option.link} target="_blank">
            <option.icon class="hover:text-smalt transition-colors" />
          </a>
        ))
      }
    </div>
  </div>
</BaseLayout>
