---
import BaseLayout from '../layouts/BaseLayout.astro';

const title = 'About me';
const description = 'Some info about myself';
---

<BaseLayout title={title} description={description}>
  <div class="mb-12 flex-grow">
    <div class="flex items-center justify-center gap-12">
      <img
        src="/public/irina_image.svg"
        alt="Irina"
        class="rounded-full w-40 h-40 mx-auto"
      />
      <p>
        Hey, I'm Irina! I'm a Full Stack Engineer with a background in
        Design and Architecture, based in Berlin. Currently working as
        a Software Engineer at <a
          href="https://www.buena.com"
          class="no-underline text-smalt hover:text-neutral">Buena</a
        >.
      </p>
    </div>
  </div>
</BaseLayout>
