---
import BaseLayout from '../layouts/BaseLayout.astro';

const title = 'About me';
const description = 'Some info about myself';
---

<BaseLayout title={title} description={description}>
  <div class="mb-12 flex-grow">
    <h2>{title}</h2>
    <div class="flex items-center justify-center gap-12">
      <p class="mt-0">
        I'm Irina. I'm a Full Stack Engineer with a background in
        Design and Architecture, based in Berlin. In my previous life,
        I was working as an Architect for 7 years. Currently the
        Software Engineer at <a
          href="https://www.buena.com"
          class="no-underline text-smalt hover:text-neutral">Buena</a
        >.
      </p>
    </div>
  </div>
</BaseLayout>
