---
import BaseLayout from '../layouts/BaseLayout.astro';

const title = "Irina's Blog";
const description =
  "Irina's Blog is a place where she shares her thoughts.";
---

<BaseLayout description={description} title={title}>
  <div class="flex flex-col items-center flex-grow">
    <h3>Here you can find my notes</h3>
  </div>
</BaseLayout>
