---
import BaseLayout from "../layouts/BaseLayout.astro";

const title = "Irina's Blog";
const description = "Irina's Blog is a place where she shares her thoughts on web development, design, and life in general.";
---

<BaseLayout description={description} title={title}>
	<div class="mt-10">
		<h2 class="text-2xl font-bold">Latest Posts</h2>
		<ul class="mt-5">
			<li class="mt-5">
				<a 
					href="/posts/create-astro-project" 
					class="text-green-500 hover:text-green-600 
					hover:underline hover:underline-offset-4">
						Create Astro Project
				</a>
			</li>
		</ul>
	</div>
</BaseLayout>
