---
import Logo from './Logo.astro';
import NavbarLinks from './Navbar.astro';
---

<div
  class="flex text-center justify-between items-center my-10 text-lg w-full"
>
  <Logo />
  <NavbarLinks />
</div>
