---
import Logo from "./Logo.astro"
import NavbarLinks from "./NavbarLinks.astro"
---

<nav class="flex text-center justify-between items-center py-6 px-6 shadow-lg w-full">
	<Logo />
	<NavbarLinks />
</nav>
