<nav
	class="flex text-center justify-between items-center py-6 px-6 shadow-lg w-full"
>
	<div>
		<a href="/" class="text-2xl hover:text-gray-500">Korotkaya</a>
	</div>
	<div>
		<a href="/posts/" class="text-lg hover:text-gray-500 ml-2">Posts</a>
		<a href="/about/" class="text-lg hover:text-gray-500 ml-2">About</a>
	</div>
</nav>