---
const links = [
  { href: '/blog/blog/', label: 'Posts' },
  { href: '/blog/tags/', label: 'Topics' },
  { href: '/blog/about/', label: 'About' }
];
---

<div class="flex flex-row gap-4">
  {
    links.map((link) => (
      <a href={link.href} class="hover:text-smalt no-underline">
        {link.label}
      </a>
    ))
  }
</div>
