---
---

<div>
  <a href="/blog/" class="hover:text-gray-500 ml-2">Blog</a>
  <a href="/tags/" class="hover:text-gray-500 ml-2">Tags</a>
  <a href="/about/" class="hover:text-gray-500 ml-2">About</a>
</div>
